html, body {
    height: 100%;
    font-family: verdana, arial, sans-serif;
    color: #555555;
}

.nav {
    font-family: Arial, sans-serif;
    font-size: 13px;
}

a {
    color: #222222;
}

a:hover {
    text-decoration: none;
}

hr {
    border-color: #dedede;
}

.wrapper, .row {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom: 1;
}

.column .padding {
    padding: 20px;
}

.full {
    padding-top: 70px;
}

.box {
    bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #444444;
    /*
      background-image:url('/assets/example/bg_suburb.jpg');
      background-size:cover;
      background-attachment:fixed;
    */
}

.divider {
    margin-top: 32px;
}

.navbar-blue {
    border-width: 0;
    background-color: #444;
    color: #ffffff;
    font-family: arial, sans-serif;
    top: 0;
}

.navbar-blue li > a, .navbar-toggle {
    color: #efefef;
}

.dropdown{
    padding-right: 30px;
}

.navbar-blue .dropdown-menu li > a {
    padding-left: 30px;
    color: #444;
}

.navbar-blue li > a:hover, .navbar-blue li > a:focus, .navbar-blue .open, .navbar-blue .open > a, .navbar-blue .open > a:hover, .navbar-blue .open > a:focus {
    background-color: #934d48;
    color: #fff;
}

#main {
    background-color: #e9eaed;
    padding-left: 0;
    padding-right: 0;
}

#main .img-circle {
    margin-top: 18px;
    height: 70px;
    width: 70px;
}

#sidebar {
    padding: 0px;
    padding-top: 15px;
}

#sidebar, #sidebar a, #sidebar-footer a {
    color: #ffffff;
    background-color: transparent;
    text-shadow: 0 0 2px #000000;
    padding-left: 5px;
}

#sidebar .nav li > a:hover {
    background-color: #934d48;
}

.logo {
    display: block;
    padding: 3px;
    background-color: #fff;
    color: #444;
    height: 28px;
    width: 28px;
    margin: 19px 2px 15px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 1px;
    border-radius: 2px;
}

.logo a:hover{ color: #934d48; }
.post {
}

#sidebar-footer {
    background-color: #444;
    position: absolute;
    bottom: 5px;
    padding: 5px;
}



#footer {
    margin-bottom: 20px;
}

/* bootstrap overrides */

h1, h2, h3 {
    font-weight: 800;
}

.navbar-toggle, .close {
    outline: 0;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.btn-primary, .label-primary, .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #3B5999;
    color: #fffffe;
}

.btn-default {
    color: #666666;
    text-shadow: 0 0 1px rgba(0, 0, 0, .3);
}

.form-control {

}

.panel textarea, .well textarea, textarea.form-control {
    resize: none;
}

.badge {
    color: #3B5999;
    background-color: #fff;
}

.badge:hover, .badge-inverse {
    background-color: #934d48;
    color: #fff;
}

.jumbotron {
    background-color: transparent;
}

.label-default {
    background-color: #dddddd;
}

.page-header {
    margin-top: 55px;
    padding-top: 9px;
    border-top: 1px solid #eeeeee;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.panel-default .panel-heading {
    background-color: #f9fafb;
    color: #555555;
}

.col-sm-9.full {
    width: 100%;
}

.modal-header, .modal-footer {
    background-color: #f2f2f2;
    font-weight: 800;
    font-size: 12px;
}

.modal-footer i, .well i {
    font-size: 20px;
    color: #c0c0c0;
}

.modal-body {
    padding: 0px;
}

.modal-body textarea.form-control {
    resize: none;
    border: 0;
    box-shadow: 0 0 0;
}

small.text-muted {
    font-family: courier, courier-new, monospace;
}

.btn-danger{
    background-color: #d9534f;
}

.small{
    color: white;
    font-size: 10px;
    width: 37px;
    height: 20px;
    text-align: center;
    padding: 0px;
    vertical-align: middle;
}
.small a {
    text-decoration: none;
    color: white;
}
.input-group-btn{
 vertical-align: baseline;
}

.alert-wrapper{
    width: 95%;
    margin-left: 3%;
}


/* Required field START */

input, textarea, button { margin-top:10px }

.required-field-block {
    position: relative;
}

.required-field-block .required-icon {
    display: inline-block;
    vertical-align: middle;
    margin: -0.25em 0.25em 0em;
    background-color: #E8E8E8;
    border-color: #E8E8E8;
    padding: 0.5em 0.8em;
    color: rgba(0, 0, 0, 0.65);
    text-transform: uppercase;
    font-weight: normal;
    border-radius: 0.325em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    transition: background 0.1s linear;
    font-size: 75%;
}

.required-field-block .required-icon {
    background-color: transparent;
    position: absolute;
    top: 0em;
    right: 0em;
    z-index: 10;
    margin: 0em;
    width: 30px;
    height: 30px;
    padding: 0em;
    text-align: center;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

.required-field-block .required-icon:after {
    position: absolute;
    content: "";
    right: 1px;
    top: 1px;
    z-index: -1;
    width: 0em;
    height: 0em;
    border-top: 0em solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 0em solid transparent;
    border-right-color: inherit;
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}

.required-field-block .required-icon .text {
    color: #B80000;
    font-size: 26px;
    margin: -3px 0 0 12px;
}
/* Required field END */





/* adjust the contents on smaller devices */
@media (max-width: 768px) {

    .column .padding {
        padding: 7px;
    }

    .full {
        padding-top: 20px;
    }

    .navbar-blue {
        background-color: #444;
        top: 0;
        width: 100%;
        position: relative;
    }

}

/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-left.active {
        left: 33%;
    }

    .row-offcanvas-left.active .sidebar-offcanvas {
        left: -33%;
        position: absolute;
        top: 0;
        width: 33%;
        margin-left: 5px;
    }

    #sidebar, #sidebar a, #sidebar-footer a {
        padding-left: 3px;
    }
}
